.post{
    width: 385px;
    margin: 0 25px 40px 25px;
}

.post > img{
    width: 100%;
    height: 280px;
    border-radius: 7px;
    object-fit: cover;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCats{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 15px;    
}

.postCatsRight{
    display: flex;
    margin-left: 5px;    
}

.postCatsLeft{
   margin-right: 5px;
}

.postCat{
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #be9656;    
    margin-right: 10px;
    cursor: pointer; 
    display: flex;  
}

.postCat:hover{
    font-size: 13px;
    color: #c08d3b;
}

.postEmoji{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
    cursor: pointer;
    background-color:#f7e2f7;
    /* background-color: rgb(236, 216, 100); */
    position: relative;
}

.postEmoji:hover {
    width: 30px;
    height: 30px;
    background-color:#d6b7d4;
}

.emojiBadge{
    width: 15px;
    height: 15px;
    background-color: rgb(172, 101, 172);
    color: white;
    border-radius: 50%;
    margin: -5px 0 0 -5px;
    text-align: center;
    font-size: 10px;
    border: 1px solid white;
    position: absolute;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;   
    cursor: pointer;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}

.postDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}