.write{
    padding-top: 50px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
}

.writeFormIcon{
    width: 25px;
    height: 25px;
    color: #8383e9;
    font-size: 20px;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    width: 70vw;
    border: none;
    padding: 20px;
}



.writeInput:focus{
    outline: none;
}

.writeImgUrl{
    font-size: 20px;
    width: 70vw;
    border: none;
    padding: 20px;
}

.writeImgUrl:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 100vh;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: #8383e9;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}